In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [3]:
raw_data=pd.read_csv("2.01. Admittance.csv")
raw_data

      SAT Admitted
0    1363       No
1    1792      Yes
2    1954      Yes
3    1653       No
4    1593       No
..    ...      ...
163  1722      Yes
164  1750      Yes
165  1555       No
166  1524       No
167  1461       No

[168 rows x 2 columns]

In [5]:
data=raw_data.copy()
data['Admitted']=data['Admitted'].map({'Yes':1,'No':0})
data

      SAT  Admitted
0    1363         0
1    1792         1
2    1954         1
3    1653         0
4    1593         0
..    ...       ...
163  1722         1
164  1750         1
165  1555         0
166  1524         0
167  1461         0

[168 rows x 2 columns]

In [6]:
y=data['Admitted']
x1=data['SAT']

In [9]:
x=sm.add_constant(x1)
reg=sm.Logit(y,x)
result=reg.fit()

Optimization terminated successfully.
         Current function value: 0.137766
         Iterations 10

In [10]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      166
Method:                           MLE   Df Model:                            1
Date:                Tue, 13 Oct 2020   Pseudo R-squ.:                  0.7992
Time:                        13:43:01   Log-Likelihood:                -23.145
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 5.805e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -69.9128     15.737     -4.443      0.000    -100.756     -39.070
SAT            0.0420      0.009      4.454      0.000       0.024       0.060
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [11]:
result.predict()

array([3.17509804e-06, 9.95320711e-01, 9.99994789e-01, 3.82545559e-01,
       4.74688306e-02, 9.78241219e-01, 9.90489815e-01, 9.99913075e-01,
       9.99932439e-01, 2.80555331e-02, 9.99693576e-01, 9.99883365e-01,
       4.95824098e-01, 3.31130788e-06, 7.68780343e-01, 9.99588875e-01,
       2.11008877e-01, 2.18086901e-01, 2.32751342e-01, 9.99666730e-01,
       9.99998697e-01, 9.99999144e-01, 3.78484857e-05, 1.40058570e-03,
       9.11780281e-01, 9.99878362e-01, 2.18086901e-01, 9.96920696e-01,
       9.99571245e-01, 9.84988046e-01, 1.86723145e-04, 6.09532977e-01,
       4.12717426e-01, 9.99999674e-01, 9.99588875e-01, 9.99781012e-01,
       4.95824098e-01, 9.99836790e-01, 3.92515016e-01, 1.11951035e-05,
       3.72881439e-02, 1.97361936e-01, 9.99986307e-01, 4.26043595e-06,
       9.97797608e-01, 2.70466415e-05, 9.83006220e-01, 3.81272805e-04,
       5.56342322e-04, 1.28281107e-02, 7.78868807e-03, 9.99999908e-01,
       7.97292345e-01, 6.06406209e-03, 9.99987928e-01, 7.99999369e-06,
       5.58561299e-01, 9.50997566e-01, 2.18086901e-01, 9.91249418e-01,
       8.12010613e-03, 8.93361262e-01, 9.99982382e-01, 9.99424768e-01,
       9.93987534e-01, 6.53414596e-05, 8.70110288e-06, 2.41557378e-03,
       9.99997843e-01, 6.53414596e-05, 8.89292965e-01, 2.18086901e-01,
       2.20878399e-04, 9.95696135e-01, 9.99666730e-01, 9.99994565e-01,
       2.72485399e-04, 4.85326998e-01, 9.99962475e-01, 9.99998851e-01,
       5.81606838e-03, 9.97605054e-01, 9.99996852e-01, 6.48708934e-01,
       9.99999688e-01, 9.99999598e-01, 3.22323161e-04, 9.99998177e-01,
       9.94233430e-01, 7.20996094e-01, 5.99490987e-01, 3.97622735e-04,
       9.50997566e-01, 9.11780281e-01, 7.78368880e-04, 9.99996576e-01,
       9.99448417e-01, 8.12010613e-03, 9.84988046e-01, 8.80747681e-01,
       9.90489815e-01, 3.67195895e-03, 9.92592781e-01, 2.69325537e-02,
       2.97843145e-03, 9.91606351e-01, 9.87797140e-01, 9.98775594e-01,
       4.50998879e-04, 2.20878399e-04, 4.38114775e-02, 5.16820085e-01,
       1.51356511e-04, 9.99987928e-01, 1.60448635e-01, 9.39130917e-07,
       9.15101099e-01, 3.50561492e-04, 4.74842828e-01, 9.99740956e-01,
       9.99988901e-01, 2.02101782e-02, 1.40058570e-03, 5.29641245e-05,
       9.99926518e-01, 8.12010613e-03, 9.61493870e-01, 7.45626764e-01,
       7.20996094e-01, 9.40229806e-01, 5.99490987e-01, 3.50561492e-04,
       9.99996276e-01, 3.82888121e-03, 7.15694599e-04, 1.08890584e-03,
       9.99997751e-01, 8.23391338e-02, 2.48673397e-05, 1.08656392e-02,
       9.98611387e-01, 9.82290106e-01, 7.03787258e-01, 9.89664961e-01,
       9.98874143e-01, 1.51396041e-02, 1.52314535e-03, 5.03991985e-06,
       1.63383507e-05, 8.29130993e-01, 9.99995209e-01, 9.99987410e-01,
       9.99124740e-01, 9.99932439e-01, 9.99087226e-01, 5.80195312e-04,
       9.99999865e-01, 9.99588875e-01, 9.99886535e-03, 9.99999674e-01,
       4.74688306e-02, 9.99987928e-01, 9.97605054e-01, 9.18308113e-01,
       9.73291832e-01, 9.99886535e-03, 2.73909368e-03, 1.94731925e-04])

In [12]:
result.pred_table()

array([[67.,  7.],
       [ 7., 87.]])

In [13]:
df=pd.DataFrame(result.pred_table())
df.columns=['predicted 0','predicted 1']
df=df.rename(index={0:'actual 0',1:'actual 1'})
df

          predicted 0  predicted 1
actual 0         67.0          7.0
actual:1          7.0         87.0

In [17]:
arr=np.array(df)
arr

array([[67.,  7.],
       [ 7., 87.]])

In [20]:
successpercentage=(arr[0,0]+arr[1,1])/arr.sum()
successpercentage

0.9166666666666666

In [ ]:
#91% accurate prediction