In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
sb.set()
import matplotlib.pyplot as mpl
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv("1.02. Multiple linear regression.csv")
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [3]:
x=data[['SAT','Rand 1,2,3']]
y=data['GPA']

In [4]:
reg=LinearRegression()

In [5]:
reg.fit(x,y)

LinearRegression()

In [6]:
reg.score(x,y)

0.4066811952814283

In [7]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [8]:
reg.intercept_

0.29603261264909486

$R^2_{adj.}=1-(1-R^2)*\frac(n-1){n-p-1}$

In [9]:
#adj r-squared
r2=reg.score(x,y)
n=x.shape[0]
p=x.shape[1]
adj_r2=1-(1-r2)*(n-1)/(n-p-1)
adj_r2

0.3920313482513401

In [10]:
from sklearn.feature_selection import f_regression

In [11]:
x=data[['SAT','Rand 1,2,3']]
y=data['GPA']
pvalue=f_regression(x,y)[1]
pvalue.round(3)

array([0.   , 0.676])

In [13]:
summary=pd.DataFrame(data=x.columns.values,columns=['features'])
summary

     features
0         SAT
1  Rand 1,2,3

In [14]:
summary['co-effecients']=reg.coef_
summary['p-value']=pvalue.round(3)
summary

     features  co-effecients  p-value
0         SAT       0.001654    0.000
1  Rand 1,2,3      -0.008270    0.676